$main-color: #a9a9a9;
$complimentary-color: #845A6D;
body,
html {
    margin: 0;
    height: 100%;
}

body {
    padding-top: 70px;
}

.page-content {
    min-height: 571px;
}

.row {
    margin: 0;
}

.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url("/f3-1.jpg") #c0c0c0 bottom center fixed no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 230px;
    text-align: center;
    margin-top: -70px;
}

h1 {
    font-size: 70px;
}

h1,
h2,
h3 {
    font-family: serif;
}

.homepage-products {
    padding-top: 50px;
    a.info {
        color: black;
    }
}

#contacts {
    background-color: #a9a9a9;
    color: white;
    h2 {
        text-align: center;
    }
    p {
        text-align: right;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $complimentary-color;
    color: white;
    cursor: pointer;
    padding: 12px;
}

#myBtn:hover {
    background-color: $main-color;
    transition: all 300ms linear;
}

.social-btns {
    .btn {
        color: white;
        font-size: 20px;
    }
}
