<section class="landing parallax-background" id="home" style="background-position: 50%;">
	<div class="container-fluid">
		<div class="opacity" style=""></div>
		<div class="content">
<!-- 			<div class="text">
				<h1>Duka Duka</h1>
				<h3>-best shop in town-</h3>
			</div> -->
		</div>
	</div>
</section>
<div class="container-fluid homepage-products">
	<hr>
	<h2>FEATURED ITEMS</h2>
	<hr>
	<div data-hook="homepage_products">
		<% cache(cache_key_for_products) do %>
		<%= render partial: 'spree/shared/products', locals: { products: @products } %>
		<% end %>
	</div>
</div>
<!-- <div class="parallax"></div>
 --><div id="contacts">
	<div class="container-fluid">
		<h2>Contact Us</h2>
		<div class="col-md-6">
			<p>email: admin@example.com</p>
			<p>call: +254 phone number</p>
		</div>
		<div class="col-md-6 social-btns">
			<a class="btn facebook" href="#">
				<i class="fa fa-facebook"></i>
			</a>
			<a class="btn twitter" href="#">
				<i class="fa fa-twitter"></i>
			</a>
			<a class="btn google" href="#">
				<i class="fa fa-google"></i>
			</a>
			<a class="btn dribbble" href="#">
				<i class="fa fa-dribbble"></i>
			</a>
			<a class="btn skype" href="#">
				<i class="fa fa-skype"></i>
			</a>
		</div>
	</div>
</div>
